body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #CED4DA;
    padding: 10px;
    text-align: left;
}

thead th {
    background-color: coral;
    color: white;
}

h2 {
    margin-bottom: 10px;
}

/* Assuming you want to style hyperlinks within the table */
tbody a {
    color: #000000;
    text-decoration: none;
}

tbody a:hover {
    text-decoration: underline;
}
